.header{

      display: flex;
      background-color: black;
      justify-content: center;
      height: 3rem;
      align-items: center;
}
.link{

    color: white;
      margin-left: 6rem;
}
.JSX{
      display: flex;
      justify-content: center;
}